/* font-family: 'Inter',
sans-serif;
font-family: 'Poppins',
sans-serif; */

/**
	|============================
	| BASE STYLES
	|============================
*/

body {
  font-family: "Poppins", sans-serif;
  /*background-color: #0e0e0e;*/
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1203px;
  padding: 0 15px;
  margin: 0 auto;
}

/**
	|============================
	| HEADER
	|============================
*/

.header {
  background: #202020;
}

.header-logo {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 104px;
}

.header-logo-icon {
}

.header-nav {
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  display: block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding: 36px 0;
}

.header-button {
  color: #0e0e0e;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 5px;
  background: #ffeb38;
  margin-left: auto;
  min-width: 128px;
  height: 44px;
  border: none;
}

.header-content {
  display: flex;
  align-items: center;
}

/* hero */

.hero {
  padding-top: 187px;
  padding-bottom: 190px;
  background-image: linear-gradient(
      180deg,
      rgba(14, 14, 14, 0.85) 99.99%,
      rgba(14, 14, 14, 0.85) 100%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 14px;
}
.hero-text-part {
  color: #ffeb38;
  font-weight: 700;
}
.hero-title {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.285;
  letter-spacing: 0.03em;
  margin-bottom: 22px;
}

.hero-discription {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.hero-list {
  display: flex;
  gap: 19px;
  justify-content: center;
}
.hero-item {
  color: #1e1e1e;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.hero-button {
  border-radius: 5px;
  background: #fff;
  min-width: 181px;
  height: 48px;
}

.hero-button:hover,
.hero-button:focus {
  border-radius: 5px;
  background: #ffeb38;
}

/* about */
.about-section {
  padding: 112px 0 215px 0;
}
.about-container {
  display: flex;
}
.about-us-image {
}
.about-text-info {
  margin-left: 219px;
}
.about-subtitle {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
}

.about-subtitle::before {
  content: "";
  width: 143px;
  height: 2px;
  background: #d8d8d8;
  display: block;
  margin-right: 12px;
}

.about-list {
  position: relative;
}

.about-second-item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.about-st-part {
  color: #ffeb38;
  font-weight: 700;
}
.about-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25; /* 60.24px */
  letter-spacing: 0.03em;
  margin-bottom: 31px;
}
.about-text {
  color: #696969;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  line-height: 1.55; /* 24.8px */
  letter-spacing: 0.03em;
  margin-bottom: 35px;
}
.about-button {
  border-radius: 5px;
  background: #ffeb38;
  color: #1e1e1e;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  width: 181px;
  height: 48px;
  border: none;
}

/**
  |============================
  | Services
  |============================
*/
.services {
  background: #202020;
  padding: 120px 0 102px 0;
}

.services-container {
  display: flex;
  gap: 89px;
}

.services-subtitle {
  color: #f8f8f8;
  text-align: justify;
  margin-bottom: 19px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.55; /* 24.8px */
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.services-subtitle::before {
  content: "";
  display: block;
  width: 143px;
  height: 2px;
  background-color: #d8d8d8;
  margin-right: 12px;
}

.services-subtitle-part {
  color: #ffeb38;
  font-weight: 700;
}

.services-title {
  margin-bottom: 23px;
  color: #f8f8f8;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.services-text {
  margin-bottom: 40px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.55; /* 24.8px */
  letter-spacing: 0.03em;
}

.services-btn {
  min-width: 181px;
  height: 48px;
  border-radius: 5px;
  background: #ffeb38;

  font-size: 16px;
  letter-spacing: 0.03em;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 61px 20px;
}

.services-item {
  width: calc((100% - 20px) / 2);
  border-radius: 5px;
  background: #fff;
  padding: 54px 15px 22px 15px;
  color: #000000;
  text-align: center;
  position: relative;
}

.services-title-item {
  margin-bottom: 13px;
}

.services-text-item {
  color: #696969;
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.services-icon-wrap {
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #ffeb38;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;

  position: absolute;
  top: -43px;
  left: 91px;
}

.services-icon {
}

.swiper {
  width: 900px;
  height: 500px;
}
.image-slider {
  padding: 30px 0 70px 0;
}
.image-wrapper {
  text-align: center;
}
img {
  max-width: 100%;
}

/* стилі для стрілок, що перемикабть слайди */
.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: blueviolet;
  font-size: 90px;
}

/* кастомна пагінаці */

.image-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.553);
}
.image-slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #fd9222;
}
